@charset "UTF-8";

*{
	font-family: NBG,sans-serif;
}

#loginform {
    width:1000px;
    height:500px;
    margin: auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}


#logintable {
    width:250px;
    margin: 50px auto;
    border: 0px solid blue;
/*     overflow: hidden; */
    text-align: left;
}

#fpw{
	margin-top:-92.5px;
	margin-left: 65px;
}

#loginbtn{
	margin-right: 20px;
}

#uinsertbtn{
	margin: 30px 0px 0px 150px;
}

#pwbtn{
	margin: 20px 0px 0px 90px;
}

#userinserttable {
    width: 600px;
    margin: 50px 310px;
    border: 0px solid blue;
    overflow: hidden;
    text-align: left;
}

#fpwtable {
    width:250px;
    margin: 50px auto;
    border: 0px solid blue;
    overflow: hidden;
    text-align: left;
}


#wishform {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#wishform table{
    width:800px;
    height:98%;
    margin: 50px ;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

.image-cell img{
	width: 50px;
    height: 50px;
    border-radius: 4.5px;
    margin: 5px 0px 0px 8px;
}

#cartform {
    width:900px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#mypageform {
	font-size:15px;
    width:900px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#mypageform table {
	font-size:15px;
    width:900px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#selectform {
    margin: 50px 0px 10px 65px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#selectform span{
	font-size:15px;
	font-weight:bold;
}

#carttable{
    width:800px;
    height:98%;
    margin: auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

.selectedActivity{
    float: left;
    margin: 5px 0px 0px 20px;
}

#carttable1{
    width:150px;
    height:98%;
    margin: auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#carttable2{
    width:400px;
    height:98%;
    margin: auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#carttable img{
	width: 50px;
    height: 50px;
    border-radius: 4.5px;
    margin: 5px 0px 0px 8px;
}

#mypage, #myinfo {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#mypage h3, #myinfo h3, #coupon h3{
	margin: 0px 0px 30px 0px;
} 

#mypagetable1 {
    width:400px;
    height:98%;
    margin: auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#mypagetable1 {
	padding-bottom: 10px; 
	border-bottom: 2px solid black;
}

#mypagetable1_1 img{
	border-radius: 100px;
	border: 2px solid gray;
}

#mypagetable2{
    width:400px;
    height:98%;
    margin: 20px 20px 20px 350px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#myinfo table{
	margin: 10px 0px 0px 350px;
	margin-bottom: 20px;
	text-align:left;
} 

#myinfo span{
	font-size:15px;
    font-weight: 550;
    color: #aaa;
} 

#myinfotable{
    width:300px;
    height:98%;
    margin: auto;
    padding: 0 0 0 50px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#myinfotable1_1 img{
	margin: 0 0 0 50px;
	border-radius: 100px;
	border: 2px solid gray;
}

#usercoupon {
    width:1000px;
    height:98%;
    margin: auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#usercoupontable1{
    width:400px;
    margin: 10px 0px 0px 300px;
    padding: 0px 0px 0px 30px;
    border-bottom: 1px solid gray;
    overflow: hidden;
    text-align: left;
}

#usercoupontable2{
    width:400px;
    margin: 10px 0px 0px 300px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#coupon {
    width:1000px;
    height:98%;
    margin: auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#coupontable1{
    width:400px;
    margin: 10px 0px 0px 300px;
    padding: 0px 0px 0px 30px;
    overflow: hidden;
    text-align: left;
}

#coupontable2{
    width:400px;
    margin: 10px 0px 0px 300px;
    padding: 30px 0px 0px 30px;
    border-top: 1px solid gray;
    overflow: hidden;
    text-align: left;
}

#uupdate {
    width:1000px;
    height:500px;
    margin: 10px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#uupdate h3{
	margin: 40px;	
}
	
#uupdatetable {
    width: 600px;
    margin: 50px 310px;
    border: 0px solid blue;
    overflow: hidden;
    text-align: left;
}

#udtbtn{
	margin: 30px 0px 0px 160px;
}

#emptycart {
    width: 600px;
    height: 98%;
    margin: 50px 320px;
    border: 0px solid blue;
    overflow: hidden;
    text-align: left;
}

#homebtn{
	margin: 10px 0px 0px 75px;
}

#wishform > #emptywish {
    width: 600px;
    height: 98%;
    margin: 50px 0px 0px 370px;
    border: 0px solid blue;
    overflow: hidden;
    text-align: left;
}

#actbtn{
	margin: 10px 0px 0px 75px;
}

#commentsform {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#selectmenu {
    width: 600px;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#selectmenu a {
	border-bottom: 2px solid black;
}

#commentstable {
    width: 450px;
    margin: 30px 0px 0px 275px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#emptycomments {
    width: 600px;
    margin: 50px 410px;
    overflow: hidden;
    text-align: left;
}

#emptyrescom {
    width: 600px;
    margin: 50px 375px;
    overflow: hidden;
    text-align: left;
}

#combtn{
	margin: 10px 0px 0px 20px;
}

#ecbtn{
	margin: 10px 0px 0px 70px;
}

#cibtn{
	margin: 0px 0px 0px 2px;
}

#resform {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#reoktable, #reexptable, #recantable{
    width: 500px;
    margin: 30px 300px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#reoktable #resname, #reexptable #resname, #recantable #resname{
    width: 270px;
}

#nores {
	width:200px;
	margin: 30px 410px;
}

#complete {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#complete h3{
    margin: 0px 0px 20px 0px ;
}

#complete a{
    margin: 0px 20px 0px 20px ;
}

#insertres {
    width:1000px;
    height:98%;
    margin: 150px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#userinfo {
    width:350px;
    height:98%;
    margin: 50px auto;
    border: 3px solid gray;
    overflow: hidden;
    text-align: left;
}

#resinfo {
    width:350px;
    height:98%;
    margin: 50px auto;
    border: 3px solid gray;
    overflow: hidden;
    text-align: left;
}

#reservebtn{
	margin: 0px 0px 0px 125px;
}

#oneresinfo {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#res_info, #pay_info {
    width:350px;
    height:98%;
    margin: 50px auto;
    border: 2px solid gray;
    overflow: hidden;
    text-align: left;
}
#res_info th, #pay_info th{
	text-align: center;
}

#faqtable{
    width: 500px;
    margin: 30px 300px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#commentstable1 {
    width: 500px;
    margin: 30px 0px 0px 250px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#qnaform {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#qnaform h3{
    margin-bottom: 30px;
}

#qnaform table{
    width:600px;
    height:98%;
    margin: 50px 0px 50px 240px;
    overflow: hidden;
    text-align: left;
}

#qnaform tr{
    margin-bottom: 30px;
}

#qnatable {
    width: 500px;
    margin: 30px 0px 0px 50px;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: left;
}

#qform {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#qform table{
    width:670px;
    height:98%;
    margin: 50px 0px 50px 170px;
    overflow: hidden;
    text-align: left;
}

#adminform {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}

#adminlisttable {
    width:900px;
    margin: 50px auto;
    border: 1px solid gray;
    border-collapse: collapse;
    overflow: hidden;
    text-align: center;
}
#adminlisttable th {
    border-bottom: 2px solid gray;
}
#adminlisttable td {
    border-bottom: 1px solid lightgray;
}














